<p>
    The Security Aspect is used in every layer of the architecture. The aspect was developed such that all layers in
    the architecture has a common mechanism to perform common security use cases, such as, encryption, detection,
    remediation, and root of trust.
</p>
<img src="./edgemere/sa/SA.png">
<p>
    Because security spans all of the layers the aspect also coordinates the use cases across the layers.
</p>
