<p>
    The Device Agent is a stack of micro-services that are deployed to edge devices in the system.
    The stack is responsible for establishing a common control plane so that applications, services,
    and data can be orchestrated across all edge devices. This includes the following microservices:
</p>
<ul>
    <li><a href="/doc/package/diml/dml/dc" >Data Controller</a></li>
    <li><a href="/doc/pakcage/sa/pe">Policy Engine</a></li>
    <li><a href="/doc/package/sml/sc">Service Controller</a></li>
    <li><a href="/doc/package/cpl/tp">Telemetry Producer</a></li>
</ul>

<img src="<%= pageDir %>/DeviceAgent.png">

<p>
    The Device agent can be deployed as a stack that is running in a connected or disconnected
    fashion. In the case of an edge device it is best to run the edge device as its own swarm
    cluster. So it can run disconnected from other nodes in the data center swarm. This gives the
    ability to manage services on the edge device independent of the data center swarm.
</p>
