<head>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
<ul id="messages"></ul>
<form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
</form>
<script>
    $(function () {
        // var socket = io('http://localhost:3000/web');
        let socket = io();
        socket.onAny(function(event, msg){
            console.log("Event:", event);
        });
    });
</script>
</body>


