<p>
    The Distributed Information Management Layer (DIML) focuses on the management of data across the ecosystem.
    Including data lifecycle management, data security and governance, storage infrastructure, analytics, data sources,
    and application data usage. Almost all of the actors of the architecture have some input into the DIML. Including
    <a href="./doc/actor/ChiefDataOfficer">CDO</a>, <a href="./doc/actor/DataSteward">Data Steward</a>,
    <a href="./doc/actor/ITOperations">IT Ops</a>, <a href="./doc/actor/ApplicationDevloper">App Dev</a>,
    <a href="./doc/actor/DataScientist">Data Scientist</a>, and <a href="./doc/actor/Data Engineer">Data Engineer</a>
</p>
<img src="./edgemere/diml/UCActor.png">

<p>
    The DIML is the newest architectural element in the edgemere architecture. It was developed to handle the complexity
    of managing data across multiple data centers, clouds, and IoT edge devices. This layer was created out of the
    <a href="./doc/package/edgemere/aml">Application Management Layer</a>,
    <a rhef="./doc/package/edgemere/sml">Service Management Layer</a>, and
    <a rhef="./doc/package/edgemere/sdi">Software Defined Infrastructure</a>. It is a middleware layer that depends on
    the
    <a rhef="./doc/package/edgemere/sdi">Software Defined Infrastructure</a>, and a co-dependence on the
    <a rhef="./doc/package/edgemere/sml">Service Management Layer</a>. The
    <a href="./doc/package/edgemere/aml">Application Management Layer</a> depends on the DIML.
</p>
<img src="./edgemere/diml/DIML.png">

<p>
    There are many different approaches to working with data. All of these approaches can be boiled down to two major
    models of operation: centralized processing and distributed processing. The centralized processing approach utilizes
    data architecture to provide benefits to the end users. There are many data architectures for centralized
    processing, two of which are Data Warehouse and Data Lakes. The centralized processing paradigm is good for some
    of the data use cases but not all of them. As more systems are moving outside of the traditional data center walls,
    many of the centralized data architectures fall apart. This is where distributed processing architectures like
    Data Meshs become important. The Edgemere architect is flexible to handle the different modes of data processing.
</p>
s
<img src="./edgemere/diml/DataApproaches.png">

<p>
   In the Data Mesh (Distributed Data Lake) architecture the ability to move applications close to the data or move the
    data close to the applications. In the mode of data processing data is analyzed in IoT Edge Devices and results
    are pushed to the data center and linked together.
</p>

<img src="./edgemere/diml/DataMesh.png">

<p>
   Another mode of operation that has emerged is taking the Data Mesh concept and extending that to different classifications
    or owners of data. This specail case limits the movement of data and who has access to the data. This use case is
    abundant in Government and Healthcare where privacy and classification regulations limit the ability to freely access
    data. This architecture, Data Exchange, allows for policy gates to limit the data that can be passed back to the application
    requesting the data. It also gives the ability to run analytics/services in the geo-fenced data site.
</p>
<img src="./edgemere/diml/DataExchange.png">

<p>
    The DIML architecture allows fore multiple data architectures at the same time. The architecture allows a
    <a href="./doc/actor/DataEngineer">Data Engineer</a> to easily build repeatable Blue Prints geared to the different
    architectures.
</p>
