<p>
    The Cloud Broker is responsible for finding the right cloud for the resources
    to satisfy the service requirements. The Cloud broker manages multi-clouds that
    contain one or more cloud. It also handles the mapping of generalized asset types
    to the different cloud offerings. For example a service may require a small instance
    that could map to different vm instances in private, and public clouds. The information
    about the mappings should be stored in the service repository based on the type of cloud.
</p>
<p>
    Policies about the individual clouds and the multiclouds are established in the cloud broker.
    The policies help determine which resources from which cloud are used to fulfill the requests
    for resources for service hosting.
</p>
<p>
    Cost and billing are also part of the cloud broker and as resources are selected for service
    requests. The Cloud broker will evaluate costs of running the services or stack and determine if there
    is budget enough to allocate resources for the request. Billing for the user or group account should
    be available upon request of the user or member of the group.
</p>
