<p>
    The Cloud Broker is responsible for finding the right cloud for the resources
    to satisfy the service requirements. The Cloud broker manages multi-clouds that
    contain one or more cloud. It also handles the mapping of generalized asset types
    to the different cloud offerings. For example a service may require a small instance
    that could map to different vm instances in private, and public clouds. The information
    about the mappings should be stored in the service repository based on the type of cloud.
</p>
