<p>
    Edgemere is a conceptual architecture tartgeted to multi-hybrid cloud strategies
    including data, application, service, and infrastructure management. With the growth
    of IoT devices management of these elements from edge to data center is important to
    the sucess of the solution.
</p>
<img src='./edgemere.png' >


