<p>
    Edgemere is a conceptual architecture targeted to multi-hybrid cloud and edge computing strategies
    including data, application, service, and infrastructure management. With the growth
    of IoT devices management of these elements from edge to data center is important to
    the success of the solution.
</p>
<p>
    In enable have a system that is future proof and expandable it is important to understand how different parts of the
    system relate to each other and to establish isolation layers (through common interfaces or abstractions). This
    isolation allows for the different subsystems in the solution to “grow” in parallel with minimal effect on the each
    other. With the end goal in mind and the establishment of interfaces between the sub-systems new features for
    hardware or software can be added progressively toward the utopian end state.
</p>
<img src='<%- pageDir %>/edgemere.png'>

<p>
    This diagram shows how the different subsystems fit together. A quick understanding of each layer will expose the responsibilities of each layer.
    <ul>
    <li>Application Layer – Responsible for the management (development, test and deployment) of applications in the solution</li>
    <li>Distributed Information Management Layer – Responsible for the management (curation, governance, lifecycle management, and tagging) of data across a heterogeneous infrastructure (Cloud, Data Center, Edge and Client).</li>
    <li>Service Management Layer – Responsible for the deploying, monitoring, and provisioning of services (containers) in the solution.</li>
    <li>Software Defined Infrastructure – Responsible for the management (deploying, monitoring and provisioning) of infrastructure (Compute, Storage, Network, and Accelerators) in the solution.</li>
    <li>Physical Layer – Responsible for the command, control and monitoring of the physical devices in the solution.</li>
    <li>Security Aspect – Gives a common security model across the subsystems of the solution.</li>
    <li>Identity Aspect – Give the ability to uniquely identify and attest identity of users, hardware, applications, services, and virtual resources.</li>
</ul>
</p>
<p>
   Many organizations have many of these subsystems already in their toolbox of solutions. Understand what you are currently using and how those tools fit together and how they interface with each other is important. One of the goals is to utilize the current tools as a foundation to build upon for the future end goal. A roadmap of technology and process changes shows how the foundation can be built upon to achieve the long term architecture.
</p>
