<div>
    <a-scene>
        <a-entity camera position="0 1.6 20" wasd-controls look-controls></a-entity>
        <a-box position="-10 5.0 -5" width="2" height="10" depth="-10" color="pink" opacity="0.7">
            <a-text align="center" position="0 0 5" value="Identity Aspect" color="black" scale="3 3 3" rotation="0 0 90"></a-text>
            <a-box position="0 3.5 0" width="1" height="1.5" depth="-9" color="pink" opacity="1.0">
                <a-text value="Access" position="-0.75 0 0" rotation="0 -90 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="0 1.25 0" width="1" height="1.5" depth="-9" color="pink" opacity="1.0">
                <a-text value="Authorization" position="-0.75 0 0" rotation="0 -90 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="0 -1.25 0" width="1" height="1.5" depth="-9" color="pink" opacity="1.0">
                <a-text value="Authentication" position="-0.75 0 0" rotation="0 -90 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="0 -3.5 0" width="1" height="1.5" depth="-9" color="pink" opacity="1.0">
                <a-text value="Key Management" position="-0.75 0 0" rotation="0 -90 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
        </a-box>
        <a-box position="10 5.0 -5" width="2" height="10" depth="-10" color="pink" opacity="0.7">
            <a-text align="center" position="0 0 5" value="Security Aspect" color="black" scale="3 3 3" rotation="0 0 90"></a-text>
            <a-box position="0 3.5 0" width="1" height="1.5" depth="-9" color="pink" opacity="1.0">
                <a-text value="Remediation" position="0.75 0 0" rotation="0 90 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="0 1.25 0" width="1" height="1.5" depth="-9" color="pink" opacity="1.0">
                <a-text value="Encryption" position="0.75 0 0" rotation="0 90 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="0 -1.25 0" width="1" height="1.5" depth="-9" color="pink" opacity="1.0">
                <a-text value="Detection" position="0.75 0 0" rotation="0 90 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="0 -3.5 0" width="1" height="1.5" depth="-9" color="pink" opacity="1.0">
                <a-text value="Root of Trust" position="0.75 0 0" rotation="0 90 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
        </a-box>

        <a-box position="0 1.25 -5" width="18" height="2.5" depth="-10" color="gray" opacity="0.7">
            <a-text value="Common Physical Layer" position="0 0 5" color="black" align="center" scale="2 3 3"></a-text>
            <a-box position="0 0 -3.5" width="16" height="1" depth="2" color="gray" opacity="1.0">
                <a-text value="Telemetry" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="0 0 0" width="16" height="1" depth="2" color="gray" opacity="1.0">
                <a-text value="Device Manager" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
        </a-box>
        <a-box position="0 3.75 -5" width="18" height="2.5" depth="-10" color="yellow" opacity="0.7">
            <a-text value="Software Defined Infrastructure" position="0 0 5" color="black" align="center" scale="2 3 3"></a-text>
            <a-box position="0 0 -3.5" width="16" height="1" depth="2" color="yellow" opacity="1.0">
                <a-text value="Infrastructure Orchestrator" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="-4.25 0 -1.25" width="7.5" height="1" depth="2" color="yellow" opacity="1.0">
                <a-text value="Resource Manager" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="4.25 0 -1.25" width="7.5" height="1" depth="2" color="yellow" opacity="1.0">
                <a-text value="Reservation System" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="-5.5 0 1.25" width="5" height="1" depth="2" color="yellow" opacity="1.0">
                <a-text value="Compute" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="0 0 1.25" width="5" height="1" depth="2" color="yellow" opacity="1.0">
                <a-text value="Storage" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="5.5 0 1.25" width="5" height="1" depth="2" color="yellow" opacity="1.0">
                <a-text value="Network" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="-5.5 0 3.5" width="5" height="1" depth="2" color="yellow" opacity="1.0">
                <a-text value="Memory" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="0 0 3.5" width="5" height="1" depth="2" color="yellow" opacity="1.0">
                <a-text value="Accelerator" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="5.5 0 3.5" width="5" height="1" depth="2" color="yellow" opacity="1.0">
                <a-text value="Security" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
        </a-box>
        <a-box position="-4.5 6.25 -5" width="9" height="2.5" depth="-10" color="orange" opacity="0.7">
            <a-text value="Distributed Information\nManagement Layer" position="0 0 5" color="black" align="center"
                    scale="2 3 3"></a-text>
            <a-box position="1.5 0 -2.5" width="5.5" height="1" depth="4" color="orange" opacity="1.0">
                <a-text value="Common Data Services" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="1.5 0 2.5" width="5.5" height="1" depth="4" color="orange" opacity="1.0">
                <a-text value="Data Management Layer" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="-3 0 0" width="2.5" height="1" depth="9" color="orange" opacity="1.0">
                <a-text value="Data\nDefinition\nFramework" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
        </a-box>
        <a-box position="4.5 6.25 -5" width="9" height="2.5" depth="-10" color="lightgreen" opacity="0.7">
            <a-text value="Service\nManagement Layer" position="0 0 5" color="black" align="center" scale="2 3 3"></a-text>
            <a-box position="0 0 -3.5" width="8" height="1" depth="2" color="lightgreen" opacity="1.0">
                <a-text value="Service Repository" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="2 0 -1.25" width="3.75" height="1" depth="2" color="lightgreen" opacity="1.0">
                <a-text value="Environment\nManagement" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="-2 0 -1.25" width="3.75" height="1" depth="2" color="lightgreen" opacity="1.0">
                <a-text value="Service\nOrchestrator" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="0 0 1.25" width="8" height="1" depth="2" color="lightgreen" opacity="1.0">
                <a-text value="Service Controller" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="-2 0 3.5" width="3.75" height="1" depth="2" color="lightgreen" opacity="1.0">
                <a-text value="Provision Engine" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="2 0 3.5" width="3.75" height="1" depth="2" color="lightgreen" opacity="1.0">
                <a-text value="Cloud Broker" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
        </a-box>
        <a-box position="0 8.75 -5" width="18" height="2.5" depth="-10" color="lightblue" opacity="0.7">
            <a-text value="Application Management Layer" position="0 0 5" color="black" align="center" scale="2 3 3"></a-text>
            <a-box position="0 0 0" width="16" height="1" depth="2.5" color="lightblue" opacity="1.0">
                <a-text value="Workflow/Application Services" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="0 0 3" width="16" height="1" depth="2.5" color="lightblue" opacity="1.0">
                <a-text value="SecDevOps Services" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="-4.5 0 -3" width="7" height="1" depth="2.5" color="lightblue" opacity="1.0">
                <a-text value="Analytic Services" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
            <a-box position="4.5 0 -3" width="7" height="1" depth="2.5" color="lightblue" opacity="1.0">
                <a-text value="AI ML Services" position="0 0.6 0" rotation="-90 0 0" color="black" align="center" scale="2 3 3"></a-text>
            </a-box>
        </a-box>
    </a-scene>
</div>
