<p>
    The Common Physical Layer (CPL) contains abstractions that allow for beeter management across an ecosystem
    inside the data center, in the cloud, and on the edge devices. These abstractions give the ability to manage
    a highly variable hardware configurations by describing the common operating and taxonomy of the devices.
    This architectural layer has the goal of addressing the following characteristics:
</p>
<img src="./HighLevelScenario.puml">
<p>The CPL establishes a taxonomy of hardware devices that are generalized. This makes it easier to create common
    services and operating models for the devices. This includes devices in Public Clouds, Private Clouds, Legacy
    Infrastructure, and Edge Devices. All of these devices have common <a href="./doc/model/edgemere/cpl/Hardware">hardware</a>:
    <a href="./doc/model/edgemere/cpl/ComputeHardware">Compute</a>, <a href="./doc/model/edgemere/cpl/StorageHardware">Storage</a>,
    <a href="./doc/model/edgemere/cpl/NetworkHardware">Network</a>, and <a
            href="./doc/model/edgemere/cpl/AcceleratorHardware">Acellerators</a>.
    Understanding that each <a href="./doc/model/edgemere/cpl/Device">device</a> can have a unique set of capabilities
    that are delivered from the unique hardware of the device is key to establishing a common management control plane.
</p>
<img src="./CPLHW.png">

<p>
    The key element in this layer is the <a href="./doc/model/edgemere/cpl/Device">Device</a>. It is represented by a
    model
    that contains several <a href="./doc/model/edgemere/cpl/Hardware">hardware</a> elements. The <a
        href="./doc/model/edgemere/cpl/Device">Device</a> has a profile that
    shows the capabilities of the <a href="./doc/model/edgemere/cpl/Device">Device</a> and its <a
        href="./doc/model/edgemere/cpl/Hardware">Hardware</a> as well as a current capacity of the <a
        href="./doc/model/edgemere/cpl/Device">Device</a>. The <a href="./doc/model/edgemere/cpl/Device">Device</a> is
    has a simple interface for control and telemetry up to the <a href="./doc/package/edgemere/sdi">SDI Layer</a> so
    Applications and Services can be deployed to the <a href="./doc/model/edgemere/cpl/Device">Device</a> and its <a
        href="./doc/model/edgemere/cpl/Hardware">Hardware</a>.
</p>

<img src="./CPLEdgeDevice.png">

<p>
    With the explosion of the number IoT devices, the complexity of managing the devices inconjunction with devices in
    the cloud and the datacenter. Managing the large number of devices can become overwhelming for
    <a href="./doc/actor/ITOperations">IT Operations Engineer</a> as well as any automated IT management system.
    For this reason the architect has created an element called Aggregated Device. That allows for the
    grouping of devices into collections so they can be managed and controlled as a group instead of as of individual
    devices. <a href="./doc/model/edgemere/cpl/AggregatedDevice">Aggregated Device</a>s can contain Devices or other <a
        href="./doc/model/edgemere/cpl/AggregatedDevice">Aggregated Device</a>s which gives the ability to have
    an infinite number of layers in the heiarchy of Devices.
</p>
<img src="./CPLDevice.png">
<p>
    In this example a topology of devices have been established to give the <a href="./doc/actor/ITOperations">IT
    Operations Engineer</a> the ability to manage all of the devices connected to a data center. In "Data Center 1"
    there are 4 Edge Devices, Data Center 2 has 4 Edge Devices and Data Center 3 has an Aggregated Edge Device and a
    normal Device. Aggregation of devices can happen along geographic, device capabilities, security profiles, etc...
    The key is that the topology is established to help with the physical management of the devices.
</p>

<img src="./CPLTopology.png">

<p>
    Many times organizations combine the physical management and the logical management of devices. Basically combining
    the Cloud topology and the Control Topology together. This architecture separates the two topologies giving the
    flexibility to establish clouds that span multip physical domains. Including establishing a cloud that spans
    resources in data centers, public clouds and edge devices. Giving the ability to schedule and manage applications
    and
    services across traditional boundaries.
</p>
<img src="./CPLCloudTopology.png">
<p> In this example you can see three clouds that share devices and span the control topology that was established for
    optmized IT operations. This flexibility allows for clouds (logical devices) to adapt to changing environments.
    Theses changes can include everything from cyber threats, physical disasters, partial connectivity of edge devices,
    or even someone tripping over a network connection in the data center.
</p>


