<p>
    The Application Management Layer (AML) contains abstractions that help App Development,
    DevOps, and IT Operations manage complex workflows and applications through the application
    development lifecycle. The AML sits at the top of the system stack and communicates directly with
    the <a href="/doc/package/dml">Distributed Information Layer</a> and the
    <a href="/doc/package/sml">Service Management Layer</a>. It also leverages the
    <a href="/doc/package/ia">Identity Aspect</a> and <a href="/doc/package/sa">Security Aspect</a> layers.
</p>
<img src='./AML.png' >

<p>The AML contains for sub packages that group common off the shelf tools integrated together.
In the Analytics Services package common tools for analytics can be found including collection,
analytics and insight. AI/ML Services represent the myrid of tools and services that focus
on Artificial Intelligence and Machine Learning algorithms, and solutions. </p>
<p>These two packages take advantage of the application and workflow services which allow
these solutions to be orchestrated at the highest level of integration by providing a
framework and common definition framework to show how these applications and workflow
interact.</p>
<p>There are several tool suites that have been built to aid SecDevOps. These tools are
grouped together in the SecDevOps Services and include Automation Frameworks (Salt,Chef,
puppet, ansible), CICD tools (Gitlab, GitHub, Jenkins, etc...) and Environment Management.</p>

<img src='./AMLDetail.png'>
