<p>
    The Service Repository gives a way of versioning the different artifacts in the system.
    These artifacts are images, service, stack, resource, and polcies definitions.
    Many of the subsystems depend on the service repository to find the correct version of the artifact
    when the stacks are deployed to environments.
</p>
<img src='${pageDir}/ServiceRepository.png' >
