<h3>dev</h3>


<h4>Deployment</h4>
This subsystem is deployed using micro-services as shown in the diagram below.
The subsystem also has an CLI, REST and Web Interface exposed through frontend service that routes
all paths to the appropriate microservices.

<img src='/edgemere/diml/dml/dc/envs/envs/dev/Deployment.puml'> </img>

<h4>Physical Architecture</h4>
The Data Controller subsystem is physically laid out on a hybrid cloud infrastructure.
Each micro-service communicates with each other through overlay networks as defined in the diagram
above. Each micro-service has three interfaces exposed Command Line Interface (CLI), Websocket (socket.io),
and a REST interface. This allows for scripting, event programing and connectivity through a common
REST interface.
<img src='/edgemere/diml/dml/dc/envs/envs/dev/Physical.puml'> </img>

<h4>Networks</h4>
<h4>Micro-Services</h4>
These are the micro-services for the deployment of the subsystem. The combination of the micro-services help implement
the subsystem's logic.
<table>
    <thead>
        <th>Name</th>
        <th>Image</th>
        <th>Mapping</th>
        <th>Ports</th>
        <th>Network</th>
    </thead>
    <tbody>
    
    <tr>
        <td>frontend</td>
        <td>diml_dml_dc_web</td>
        <td></td>
        <td></td>
        <td>sibling</td>
    </tr>
    
    <tr>
        <td>gw</td>
        <td>diml_dml_dc_gw</td>
        <td></td>
        <td></td>
        <td>children,sibling</td>
    </tr>
    
    </tbody>
</table>

<h4>Networks</h4>
The networks connect the microservices of this stack together in a micro-segmented network.
There are also Ingress and Egress networks for connected to the stack (ingress) and connected from
the stack (egress). Most of the egress networks are for substacks in the stack itself. This enables
the creation of aggregation of stacks and substacks and still keep the microsegmentation of each
stack in a layer of networks.
<table>
    <thead>
        <th>Name</th>
        <th>Type</th>
        <th>External Name</th>
        <th>Ports</th>
    </thead>

    <tr>
        <td>children</td>
        <td>egress</td>
        <td>ailtire_appname_diml_dml_dc_family</td>
    </tr>

    <tr>
        <td>sibling</td>
        <td>internal</td>
        <td></td>
    </tr>

    <tr>
        <td>parent</td>
        <td>ingress</td>
        <td>ailtire_parent_network_family</td>
    </tr>

</table>

The Stack is micro-segmented off and there are a set of ports that are open for the ingress networks. The following
table shows the ports available and the internal port mappings and services on those ports.

<table>
    <thead>
        <th>External Access Port</th>
        <th>To Port</th>
        <th>Service</th>
    </thead>

</table>
