<p>The Application Developer work in coordination with <a href="/doc/actor/devops">DevOps</a> to
manage services, applications and workloads through the development pipeline</p>

<img src='./UseCases.puml' >

<img src='./Activity.puml'>

<img src='./Workflow.puml'>
