<p>
    The Device Manager is a stack of micro-services that are deployed to aggregated edge devices and data centers
    in the system. The stack is responsible for establishing a common control plane by aggregating edge devices to
    form a topology of physical devices and control. This includes the following microservices:
</p>
<ul>
    <li><a href="/doc/package/diml/dml/do" >Data Orchestrator</a></li>
    <li><a href="/doc/pakcage/sa/pe">Policy Engine</a></li>
    <li><a href="/doc/package/sml/so">Service Orchestrator</a></li>
    <li><a href="/doc/package/cpl/ta">Telemetry Aggregator</a></li>
</ul>

<img src="<%= pageDir %>/DeviceAgent.png">
