<p>
    The Service Orchestrator is responsible for breaking down the stack deployment request and coordinating
    with the other orchestrators (Data, Infrastructure, and Application) to build a landscape request for the
    stack deployment request. The Landscape request broken down into individual requests that are sent to the
    SDI layer via to allocate resources to handle the services in the stack deployment.
</p>
<img src='./ServiceOrchestrator.png' >
